<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.png" width="156.164px" height="135.053px" alt="There is a profile picture.">
                    </div>
                    <div class="left_1-2"><%=user.name%></div>
                    <div class="left_1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-facebook.svg" class="icon-1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-instagram.svg" class="icon-1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-twitter.svg" class="icon-1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-linkedin.svg" class="icon-1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-Youtube.svg" class="icon-1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Icons-dribbble.svg" class="icon-1" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left_2-1">
                        <div class="left_2-1-1 age">Age: </div>
                        <div class="left_2-1-2"><%=user.age%></div>
                    </div>
                    <div class="left_2-1">
                        <div class="left_2-1-1 residence">Residence: </div>
                        <div class="left_2-1-2"><%=user.residence%></div>
                    </div>
                    <div class="left_2-1">
                        <div class="left_2-1-1 freelance">Freelance: </div>
                        <div class="left_2-1-2" style="color: green;"><%=user.freelance%></div>
                    </div>
                    <div class="left_2-1">
                        <div class="left_2-1-1 address">Address: </div>
                        <div class="left_2-1-2"><%=user.address%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <span class="left_3-languages">Languages</span>
                    <div class="left_3-1">
                        <span class="left_3-1-1"><%=user.languages[0]%></span>
                        <span class="left_3-1-1">100%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="217" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                    <div class="left_3-1">
                        <span class="left_3-1-1"><%=user.languages[1]%></span>
                        <span class="left_3-1-1">80%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="208" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                    <div class="left_3-1">
                        <span class="left_3-1-1"><%=user.languages[2]%></span>
                        <span class="left_3-1-1">60%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="190" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                </div>
                
                <div class="marginer"></div>

                <div class="left_4">
                    <span class="left_4-skills">Skills</span>
                    <div class="left_4-1">
                        <span class="left_4-1-1"><%=user.skills[0]%></span>
                        <span class="left_4-1-1">90%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="209" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                    <div class="left_4-1">
                        <span class="left_4-1-1"><%=user.skills[1]%></span>
                        <span class="left_4-1-1">85%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="207" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                    <div class="left_4-1">
                        <span class="left_4-1-1"><%=user.skills[2]%></span>
                        <span class="left_4-1-1">80%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="201" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                    <div class="left_4-1">
                        <span class="left_4-1-1"><%=user.skills[3]%></span>
                        <span class="left_4-1-1">75%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="187" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                    <div class="left_4-1">
                        <span class="left_4-1-1"><%=user.skills[4]%></span>
                        <span class="left_4-1-1">85%</span>
                    </div>
                    <div class="line">
                        <svg xmlns="http://www.w3.org/2000/svg" width="222" height="6" viewBox="0 0 222 6" fill="none">
                            <rect x="0.75" y="0.75" width="220.5" height="4.5" rx="2.25" stroke="#FFB400" stroke-width="0.5"/>
                            <rect x="2" y="2" width="207" height="2" rx="1" fill="#FFB400"/>
                        </svg>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <span class="left_5-extraSkills">Extra Skills</span>
                    <div class="left_5-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                        </svg>
                        <span class="left_5-1-1"><%=user.extra_skills[0]%></span>
                    </div>
                    <div class="left_5-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                        </svg>
                        <span class="left_5-1-1"><%=user.extra_skills[1]%></span>
                    </div>
                    <div class="left_5-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                        </svg>
                        <span class="left_5-1-1"><%=user.extra_skills[2]%></span>
                    </div>
                    <div class="left_5-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                            <rect x="0.5" y="0.5" width="9" height="9" stroke="#FFB400"/>
                            <rect x="5.5" y="5.5" width="9" height="9" stroke="#FFB400"/>
                        </svg>
                        <span class="left_5-1-1"><%=user.extra_skills[3]%></span>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame">

            </div>
            <div class="right_frame">

            </div>
        </div>
    </div>
</body>

</html>